

<button class="@CssClass">@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter] 
    public ButtonVariant Variant { get; set; } = ButtonVariant.Secondary;

    [Parameter] 
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    private string VariantCssStr => Variant switch
    {
        ButtonVariant.Primary => "btn-primary",
        ButtonVariant.Secondary => "btn-secondary", 
        ButtonVariant.Outline => "btn-outline",
        ButtonVariant.Icon => "btn-icon",
        _ => ""
    };
    
    private string SizeCssStr => Size switch
    {
        ButtonSize.Medium => "btn-md",
        _ => ""
    };

    private string _baseCssStr = "btn";

    private string CssClass => string.Join(" ", _baseCssStr, VariantCssStr, SizeCssStr);
}