@theme {
    --color-brand-50: oklch(0.979 0.021 166.113);
    --color-brand-100: oklch(0.95 0.052 163.051);
    --color-brand-200: oklch(0.905 0.093 164.15);
    --color-brand-300: oklch(0.845 0.143 164.978);
    --color-brand-400: oklch(0.765 0.177 163.223);
    --color-brand-500: oklch(0.696 0.17 162.48);
    --color-brand-600: oklch(0.596 0.145 163.225);
    --color-brand-700: oklch(0.508 0.118 165.612);
    --color-brand-800: oklch(0.432 0.095 166.913);
    --color-brand-900: oklch(0.378 0.077 168.94);
    --color-brand-950: oklch(0.262 0.051 172.552);



    --color-neutral-50: oklch(0.985 0 0);
    --color-neutral-100: oklch(0.97 0 0);
    --color-neutral-200: oklch(0.922 0 0);
    --color-neutral-300: oklch(0.87 0 0);
    --color-neutral-400: oklch(0.708 0 0);
    --color-neutral-500: oklch(0.556 0 0);
    --color-neutral-600: oklch(0.439 0 0);
    --color-neutral-700: oklch(0.371 0 0);
    --color-neutral-800: oklch(0.269 0 0);
    --color-neutral-900: oklch(0.205 0 0);
    --color-neutral-950: oklch(0.145 0 0);
}