@page "/"
@using Web.Components.Base.Button


<PageTitle>Home</PageTitle>

<div class="m-12 flex gap-5">
    <Button Variant="ButtonVariant.Primary" Size="ButtonSize.Medium">Primary</Button>

    <Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Medium">Secondary</Button>

</div>

Welcome to your new app.